8.1App/ClaimAssistantApp/ClaimAssistantApp/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MVCS_WCF_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IService1_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPolicyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPolicyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClaimHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClaimHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClaimHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGarageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGarageInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGarageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGarageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTowTruckServiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTowTruckServiceInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTowTruckServiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTowTruckServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertClaim" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSparepartCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSparepartCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSparepartCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSparepartCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSparepartManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSparepartManufacturers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSparepartManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSparepartManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpareparts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpareparts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSpareparts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSparepartsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authenticate" message="tns:IService1_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthenticateResponse" message="tns:IService1_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPolicyInfo" message="tns:IService1_GetPolicyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPolicyInfoResponse" message="tns:IService1_GetPolicyInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClaimHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClaimHistory" message="tns:IService1_GetClaimHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClaimHistoryResponse" message="tns:IService1_GetClaimHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGarageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGarageInfo" message="tns:IService1_GetGarageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGarageInfoResponse" message="tns:IService1_GetGarageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTowTruckServiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTowTruckServiceInfo" message="tns:IService1_GetTowTruckServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTowTruckServiceInfoResponse" message="tns:IService1_GetTowTruckServiceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertClaim" message="tns:IService1_InsertClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertClaimResponse" message="tns:IService1_InsertClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSparepartCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSparepartCategories" message="tns:IService1_GetSparepartCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSparepartCategoriesResponse" message="tns:IService1_GetSparepartCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSparepartManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSparepartManufacturers" message="tns:IService1_GetSparepartManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSparepartManufacturersResponse" message="tns:IService1_GetSparepartManufacturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpareparts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSpareparts" message="tns:IService1_GetSpareparts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSparepartsResponse" message="tns:IService1_GetSpareparts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IService1/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPolicyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClaimHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClaimHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGarageInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGarageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTowTruckServiceInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTowTruckServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertClaim">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSparepartCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSparepartCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSparepartManufacturers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSparepartManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpareparts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSpareparts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MVCS_WCF_Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>